<style>
  .btn-search {
    background-color: #2f5133;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem;
  }
  .btn-search:hover {
    background-color: #2f5133;
    color: #fff;
  }
  .btn-search i {
    display: inline;
    margin: 0.5rem;
  }
  .searchInput {
    border-radius: 25px;
    padding: 0.5rem 3rem;
    font-size: 1rem;
    width: 100%;
    max-width: 250px;
  }
  @media (max-width: 576px) {
    .searchInput {
      max-width: 150px;
      padding: 0.5rem 2rem;
    }
  }


  @media (max-width: 768px) {
    .navbar-collapse {
      background-color: #2f5133; 
      padding: 1rem;
      border-radius: 10px;
    }
    .navbar-collapse .nav-link {
      color: #fff !important;   
    }
    .navbar-collapse form {
      background-color: #fff;
      border-radius: 25px;
      padding: 0.5rem;
    }
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings">
      <i class="fa-solid fa-person"></i>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

     
      <div class="navbar-nav">
        <a class="nav-link" href="/listings"><h2>CivicTrack</h2></a>
      </div>

      
      <form class="d-flex mx-md-auto my-2 my-md-0" role="search">
        <input class="form-control me-2 searchInput" type="search" name="country" placeholder="Search Issue" />
        <button class="btn btn-search" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i> Search
        </button>
      </form>

     
      <div class="navbar-nav ms-md-auto mt-2 mt-md-0">
        <a class="nav-link" href="/listings/new">List your Issue</a>
        <a class="nav-link" href="/chats">Community</a>
        <% if (!currUser) { %>
          <a class="nav-link" href="/signup"><b>Signup</b></a>
          <a class="nav-link" href="/login"><b>Login</b></a>
        <% } else { %>
          <a class="nav-link" href="/logout"><b>Logout</b></a>
        <% } %>
      </div>

    </div>
  </div>
</nav>

